@import "./variables.scss";

.createPost {
  z-index: 3;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @media screen and (orientation: landscape) {
    position: absolute;
    bottom: 85vh;
    z-index: 1;
    top: 0;
    padding-top: 50px;
    min-width: 500px;
    left: 35vh;
    width: 70%;
    align-items: center;
    & .createPost__post-info {
      order: 2;
    }
    & .createPost__linkTextbox {
      order: 1;
    }
    & .createPost__bottom {
      order: 3;
    }
    & .createPost__bottom,
    & .createPost__post-info,
    & .createPost__linkTextbox {
      width: 30%;
      min-width: 400px;
    }
  }
  & .createPost__bottom {
    display: none;
  }
  & .createPost__bottom,
  .createPost__post-info {
    opacity: 0;
  }
  & .createPost__post-info {
    .textarea-container {
      padding: 1rem 0.75rem;
      background: $white;
      textarea {
        border: none;
        font-size: 1.5rem;
        line-height: 2rem;
        // color: $blue;
        @include theme-aware("color", "primary");
        font-family: Goldplay-Medium;
        &::placeholder {
          @include theme-aware("color", "placeholder");
          font-size: 1.5rem;
          font-family: Goldplay-Regular;
        }
      }
      .character-count {
        color: $light-grey;
      }
    }
  }
  &--showPanel {
    z-index: 5;
    & .createPost__bottom {
      display: flex;
    }
    & .createPost__bottom,
    .createPost__post-info {
      z-index: inherit;
      opacity: 1;
    }
    .createPost__post-info {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
    & .createPost__linkTextbox {
      z-index: inherit;
    }
    &::before {
      content: "";
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      background-color: $white;
      opacity: 0.95;
      z-index: 4;
    }
  }
  &__linkTextbox {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.25rem;
    padding: 15px 0.75rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    @include theme-aware("background", "cardBg");
    &::placeholder {
      @include theme-aware("color", "placeholder");
    }
  }
  &__post-info {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    // background: $white;
    @include theme-aware("background", "cardBg");
    .select {
      margin: 10px 0.75rem;
    }
    .selected-users {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0.75rem;
      .pill-label {
        margin-right: 5px;
        .person-icon {
          margin-right: 5px;
        }
      }
    }
    .previewLoading {
      z-index: inherit;
      background: #233767;
      height: 150px;
      width: 100%;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          height: 10vmin;
          pointer-events: none;
          animation: Loader-spin 2s cubic-bezier(0.79, 0.14, 0.15, 0.86)
            infinite;
        }
      }
      @keyframes Loader-spin {
        from {
          // opacity: 0.75;
          transform: rotate(0deg);
        }
        to {
          // opacity: 1;
          transform: rotate(360deg);
        }
      }
    }
    .shareTitle {
      padding: 10px 0.75rem;
    }
  }
  &__bottom {
    position: relative;
    height: 60px;
    padding: 10px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .button {
      padding: 10px 15px;
      font-family: Goldplay-Semibold;
    }
    .button--plain {
      margin-right: 10px;
      color: $red;
    }
  }
  .post-preview__details__linkDetails {
    justify-content: flex-end;
    height: 100%;
  }
  .addPostButton {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $white;
    width: 60px;
    height: 50px;
    margin-bottom: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: center;
    z-index: 5;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
}
