@import "./variables.scss";

.createPost {
  z-index: 5;
  width: 100%;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 5;
  display: flex;
  flex-direction: column;
  @media screen and (orientation: landscape) {
    display: none;
  }
  &--specialBehaviour {
    z-index: 3;
    & .createPost__bottom,
    .createPost__post-info {
      opacity: 0;
    }
    & .createPost__post-info {
      .textarea-container {
        padding: 1rem 0.5rem;
        background: $white;
        textarea {
          border: none;
          font-size: 1.5rem;
          line-height: 2rem;
          color: $blue;
          font-family: Goldplay-Medium;
          &::placeholder {
            color: $light-grey;
            font-size: 1.5rem;
            font-family: Goldplay-Regular;
          }
        }
        .character-count {
          color: $light-grey;
        }
      }
    }
    &--showPanel {
      z-index: 5;
      & .createPost__bottom,
      .createPost__post-info {
        z-index: inherit;
        opacity: 1;
      }
      & .createPost__linkTextbox {
        z-index: inherit;
      }
      &::before {
        content: "";
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: $white;
        opacity: 0.95;
        z-index: 4;
      }
    }
  }
  &__linkTextbox {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.25rem;
    padding: 15px 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
  }
  &__post-info {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: $white;
    .select {
      margin-top: 10px;
    }
    .selected-users {
      display: flex;
      flex-wrap: wrap;
      .pill-label {
        margin-right: 5px;
        .person-icon {
          margin-right: 5px;
        }
      }
    }
    &__previewLoading {
      z-index: inherit;
      background: #233767;
      height: 150px;
      width: 100%;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__bottom {
    position: relative;
    height: 60px;
    padding: 10px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .button {
      padding: 10px 15px;
      font-family: Goldplay-Semibold;
    }
    .button--plain {
      margin-right: 10px;
      color: $red;
    }
  }
  .post-preview__details__linkDetails {
    justify-content: flex-end;
    height: 100%;
  }
}
