@import "./variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media screen and (orientation: landscape) {
    align-items: flex-start;
  }
  .header-title {
    margin: 0;
    // color: $blue;
    @include theme-aware("color", "text0");
    font-family: "Goldplay-Semibold";
    font-size: 2rem;
  }
  .header-left {
    display: flex;
    align-items: center;
    @media screen and (orientation: landscape) {
      margin-top: 110px;
    }
    .mobile-icon {
      margin-right: 15px;
      @media screen and (orientation: landscape) {
        display: none;
      }
    }
  }
  .header-right {
    display: flex;
    height: fit-content;
    @media screen and (orientation: landscape) {
      height: 50px;
      align-items: center;
    }
  }
}

.profile-container {
  .profile-icon {
    height: 26px;
    width: 26px;
    z-index: 5;
    position: relative;
    cursor: pointer;
    @media screen and (orientation: landscape) {
      height: 40px;
      width: 40px;
    }
  }
  .hidden-component {
    top: -5px;
    right: -5px;
    z-index: 4;
  }
  .panel-item {
    svg {
      width: 18px;
      height: 18px;
      display: inline-block;
      margin-right: 3px;
      padding: 3px;
    }
  }
}
.hidden-header {
  background-color: $white;
  height: 35px;

  display: flex;
  align-items: center;
  padding: 0 50px 0 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  @media screen and (orientation: landscape) {
    height: 50px;
  }
}

.notification-container {
  margin-right: 20px;
  .hidden-component {
    width: 270px;
    right: -10px;
    top: -5px;
    @media screen and (orientation: landscape) {
      width: 350px;
      top: 0;
    }
    .hidden-header {
      padding-right: 60px;
      display: flex;
      justify-content: space-between;
      @include theme-aware("color", "text0");

      :nth-child(2) {
        font-family: "Goldplay-Medium";
      }
    }
  }
  .notifications-icon {
    z-index: 4;
    position: relative;
    cursor: pointer;
    svg {
      @include theme-aware("fill", "primary");
      height: 26px;
      width: 26px;
      @media screen and (orientation: landscape) {
        height: 40px;
        width: 40px;
        margin-top: 5px;
      }
    }
  }
  .unread-indicator {
    background-color: $red;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    z-index: 4;
    @media screen and (orientation: landscape) {
      top: 5px;
      right: 5px;
    }
  }
}
