.App {
    text-align: center;
    /* margin: -20px -40px; */
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    .App-header {
        background-color: #233767;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: transparent;
        .App-logo {
            height: 15vmin;
            pointer-events: none;
            /* margin-bottom: 10vh; */
          }
          
          .login-btn {
            
          }
      }
  }
  @keyframes Login-slide {
    from {
        opacity: 0;
        z-index: -1;
      transform: translateY(300px);
    }
    to {
        opacity: 1;
        z-index: 1;
        transform: translateY(0);
        box-shadow: 0px 5px #146854;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .login-btn {
        background-color: #27AE8E;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-family: Goldplay-Medium;
        font-size: 1.25rem;
        cursor: pointer;
        position: relative;
        box-shadow: 0px 5px #146854;
        animation-duration: 2s;
        animation-name: Login-slide;
        animation-delay: 3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }
  }