@import "./variables.scss";
.random {
  height: 15px;
  width: 15px;
}

.post {
  .post-preview.hide {
    display: none;
  }

  &__container {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    @include theme-aware("background", "cardBg");
    margin-bottom: 15px;
    border-radius: 5px;

    @media screen and (orientation: landscape) {
      margin-bottom: 0;
    }
  }

  &__bottom {
    padding: 12px 15px 10px 15px;

    .link-info {
      font-family: "Goldplay-Medium";

      &__url {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        &__httpsIcon {
          fill: $turquoise;
          width: 14px;
          height: 14px;
        }

        &__text {
          font-size: 1rem;
          overflow: hidden;
          white-space: nowrap;
          color: #27ae8e;
          width: 70vw;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;

          @media screen and (orientation: landscape) {
            width: 85%;
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }

        &__copyIcon {
          fill: $turquoise;
          width: 14px;
          height: 14px;
          cursor: pointer;
        }
      }

      &__description {
        font-size: 1.2rem;
        @include theme-aware("color", "text0");
      }
    }

    .post-iconRow {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      padding: 0 5px;

      .iconRow__left,
      .iconRow__right {
        display: flex;
      }

      .iconRow__right__taggedFriends,
      .iconRow__left__comments,
      .iconRow__left__tags {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        &.active {
          border-bottom: 3px solid;
          @include theme-aware("border-color", "secondary");
        }
      }

      .friends__iconContainer {
        margin-right: 15px;
        position: relative;

        div {
          width: 21px;
          height: 21px;
          &:last-of-type {
            position: absolute;
            top: 0;
            left: 10px;
            width: 22px;
            height: 22px;
          }
        }
      }
      .comments__icon,
      .tags__icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 4px;
        @include theme-aware("fill", "primary");
      }

      .comments__number,
      .friends__number,
      .tags__number {
        font-size: 1rem;
        font-family: Goldplay-Semibold;
        @include theme-aware("color", "primary");
      }

      .iconRow__left__comments {
        margin-right: 30px;
      }
    }

    &__tabarea {
      display: flex;
      flex-direction: column;
      position: relative;
      opacity: 1;
      z-index: 0;
      height: 175px; // IS THIS ALWAYS REQUIRED? ANY WAY AROUND THIS? THIS SHOULD BE MAX HEIGHT?
      // @include theme-aware("color", "bg");
      // @include theme-aware("background", "primary"); CHANGE REQUIRED?
      background-color: $light-white;
      color: $blue;
      transition: all 0.3s ease-in;
      &.hide {
        opacity: 0;
        z-index: -1;
        height: 0;
        position: absolute;
      }
    }
  }

  .details-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;

    .creationDetails {
      display: flex;
      align-items: center;

      &__authorIcon {
        height: 24px;
        width: 24px;
        margin-right: 8px;
        @include theme-aware("fill", "primary");
      }

      &__text {
        display: flex;
        flex-direction: column;
        font-size: 0.67rem;

        &__authorName {
          font-family: "Goldplay-Semibold";
        }

        &__timeCreated {
        }
      }
    }

    .options-icon {
      fill: $white;
      cursor: pointer;
      height: 24px;
      width: 24px;
    }
    .panel-item {
      cursor: pointer;
      svg {
        height: 12px;
        width: 12px;
        @include theme-aware("fill", "primary");
        margin-right: 8px;
      }
    }
    .hidden-component {
      @include theme-aware("color", "primary");
    }
  }
}
