@import "./variables.scss";
.panel-content {
  overflow-y: scroll;
  height: calc(100% - 50px);
  padding: 10px 20px 10px;
  .comment-item {
    display: flex;
    margin-bottom: 5px;
    .author-icon {
      height: 16px;
      width: 16px;
      margin-top: 2px;
    }

    .comment-details {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      font-size: 0.75rem;
      .comment-author {
        @include theme-aware("color", "primary");
        font-family: "Goldplay-Semibold";
      }
      .comment-text {
        color: $dark-gray;
      }
    }
  }
  .comment-textbox-container {
    position: absolute;
    left: 0;
    bottom: 10px;
    display: flex;
    width: calc(100% - 40px);
    margin: 0 20px;
    .textInput {
      height: 30px;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px;
    }
    .button {
      margin-left: 10px;
      background-color: #233767;
      color: #ffffff;
      border-radius: 5px;
    }
  }
}
