@import "./variables.scss";

.post {
  &.hide {
    display: none;
  }
  

  &__container {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background: white;
    margin-bottom: 20px;
    border-radius: 5px;
    @media screen and (orientation: landscape) {
      margin-bottom: 0;
    }
  }
  &__bottom {
    padding: 12px 12px 15px 12px;
    &__info {
      font-family: "Goldplay-Medium";
      &__url {
        display: flex;
        justify-content: space-between;
        &__httpsIcon {
          fill: $turquoise;
          width: 14px;
          height: 14px;
        }
        &__text {
          font-size: 0.85rem;
          overflow: scroll;
          white-space: nowrap;
          color: #27ae8e;
          width: 73vw;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          padding-bottom: 10px;
          margin-bottom: 10px;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        &__copyIcon {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
      &__description {
        font-size: 1.2rem;
      }
    }
    &__IconRow {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      &__left,
      &__right {
        display: flex;
      }
      &__right__tags,
      &__left__comments,
      &__left__friends {
        display: flex;
        align-items: center;
      }
      &__left__friends__iconContainer {
        margin-right: 12px;
        position: relative;
        svg {
          width: 20px;
          height: 20px;
          &:last-of-type {
            position: absolute;
            top: 0;
            left: 8px;
            z-index: 2;
          }
        }
      }
      &__left__comments_icon,
      &__right__tags_icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 4px;
      }
      &__left__comments_number,
      &__left__friends_number,
      &__right__tags_number {
        font-size: 0.8rem;
        color: $blue;
      }
      &__left__comments {
        margin-right: 30px;
      }
    }
  }
  &-preview__details__top {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    &__creationDetails {
      display: flex;
      align-items: center;
      &__authorIcon {
        height: 24px;
        width: 24px;
        margin-right: 8px;
        fill: $white;
      }
      &__text {
        display: flex;
        flex-direction: column;
        font-size: 0.67rem;
        &__authorName {
          font-family: "Goldplay-Semibold";
        }
        &__timeCreated {
        }
      }
    }
    &__options {
      height: 24px;
      width: 24px;
      fill: $white;
    }
  }
}
