@import "./variables.scss";

.playground-page {
  position: relative;

  main {
    margin: 30px 0 15vh 0;
    @media screen and (orientation: landscape) {
      margin: 50px 0 0 0;
      display: grid;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
  .addLink-textInput {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.25rem;
    padding: 15px 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 85px;
  }
}

.hide {
  display: none;
}

.panel-container {
  position: relative;
  width: fit-content;
}

.hidden-component {
  background: green;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background: #f1f3f5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

  li {
    display: flex;
    padding: 7px 10px;
  }
}

.options {
  height: 25px;
  width: 25px;
}
