@import "./variables.scss";

.playground-page {
  position: relative;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-title {
      margin: 0;
      // color: $blue;
      @include theme-aware("color", "text0");
      font-family: "Goldplay-Semibold";
      font-size: 2rem;
    }
    .header-left {
      display: flex;
      align-items: center;
      .mobile-icon {
        margin-right: 15px;
        @media screen and (orientation: landscape) {
          display: none;
        }
      }
    }
    .header-right {
      display: flex;
      @media screen and (orientation: landscape) {
        top: 20px;
        right: 35px;
      }
    }
    .notifications {
      display: flex;
      position: relative;
      margin-right: 10px;
      &__button {
        padding: 0 10px;
        z-index: 3;
        svg {
          height: 26px;
          width: 26px;
          @include theme-aware("fill", "primary");
        }
        @media screen and (orientation: landscape) {
          margin-right: 20px;
          svg {
            height: 30px;
            width: 30px;
          }
        }
      }
      &__unreadIndicator {
        background-color: $red;
        height: 10px;
        width: 10px;
        position: absolute;
        top: 0px;
        right: 10px;
        border-radius: 10px;
        z-index: 3;

        @media screen and (orientation: landscape) {
          top: 2px;
          right: 30px;
        }
      }
      &__panel {
        position: absolute;
        // background-color: $white;
        @include theme-aware("background", "cardBg");
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        width: 270px;
        right: 0;
        z-index: 2;
        top: -10px;
        max-height: 300px;
        border-radius: 5px;
        @media screen and (orientation: landscape) {
          width: 350px;
        }
        &.hide {
          display: none;
        }
        &__header {
          padding: 20px 10px;
          display: flex;
          justify-content: space-between;
          @include theme-aware("color", "text0");
          @media screen and (orientation: landscape) {
            padding: 15px;
            padding-top: 18px;
          }
          & span:last-of-type {
            margin-right: 40px;
            @media screen and (orientation: landscape) {
              margin-right: 55px;
            }
          }
        }
        &__list {
          list-style: none;
          padding: 0;
          margin: 0;
          // background-color: $grey;
          @include theme-aware("background", "bg");
          border-radius: 0px 0px 5px 5px;
          .notifications-item {
            height: fit-content;
            border-top: 1px solid #dadbdd;
            padding: 10px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            &__text {
              @include theme-aware("color", "text0");
            }
            &__buttonSection {
              align-self: flex-end;
              padding-top: 5px;
              padding-right: 5px;
              .notification-button {
                &--mark {
                }
                &--accept {
                  margin-left: 10px;
                  padding: 5px 10px;
                  border-radius: 5px;
                }
                &--ignore {
                  color: $red;
                }
              }
            }
          }
        }
      }
    }
    .profile {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      padding: 0;
      position: relative;
      display: flex;
      .profile-icon {
        height: 26px;
        width: 26px;
        z-index: 4;
        @media screen and (orientation: landscape) {
          height: 35px;
          width: 35px;
        }
      }
      &__panel {
        position: absolute;
        background-color: $white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        // width: 120px;
        right: -5px;
        z-index: 3;
        top: -5px;
        max-height: 300px;
        border-radius: 5px;
        color: $text-dark;
        @media screen and (orientation: landscape) {
          width: 150px;
        }

        &.hide {
          display: none;
        }

        &__header {
          padding: 10px 10px 20px;
          display: flex;
          justify-content: space-between;
          @include theme-aware("color", "text0");
          @include theme-aware("background", "cardBg");
          @media screen and (orientation: landscape) {
            padding: 15px;
            padding-top: 18px;
          }
          & span:last-of-type {
            margin-right: 40px;
            @media screen and (orientation: landscape) {
              margin-right: 55px;
            }
          }
        }

        &__list {
          list-style: none;
          padding: 0;
          margin: 0;
          @include theme-aware("background", "bg");
          &__item {
            height: fit-content;
            // border-top: 1px solid #dadbdd;
            padding: 7px 10px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            button {
              border: none;
              padding: 0;
              background: none;
              text-align: left;
              display: flex;
              @include theme-aware("color", "text1");
              svg {
                // background: $greygrey;
                width: 18px;
                height: 18px;
                display: inline-block;
                margin-right: 3px;
                padding: 3px;
                svg {
                  height: 12px;
                  width: 12px;
                  path {
                    @include theme-aware("fill", "primary");
                  }
                }
                p {
                }
              }
            }

            &__buttonSection {
              align-self: flex-end;
              padding-top: 5px;
              padding-right: 5px;

              &__button {
                &--mark {
                }

                &--accept {
                  margin-left: 10px;
                  padding: 5px 10px;
                  border-radius: 5px;
                }

                &--ignore {
                  color: $red;
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    margin: 30px 0 15vh 0;
    @media screen and (orientation: landscape) {
      margin: 50px 0 0 0;
      display: grid;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
  .addLink-textInput {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.25rem;
    padding: 15px 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 85px;
  }
}
