@import "./variables.scss";

.playground-page {
  position: relative;
  header {
    display: flex;
    justify-content: space-between;
    .header-title {
      margin: 0;
    }
    .header-right {
      display: flex;
      @media screen and (orientation: landscape) {
        top: 20px;
        right: 35px;
      }
    }
    .notifications-button {
      margin-right: 20px;
      svg {
        height: 25px;
        width: 25px;
      }
      @media screen and (orientation: landscape) {
        margin-right: 30px;
        svg {
          height: 30px;
          width: 30px;
        }
      }
    }
    .profile-button {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      padding: 0;
      img {
        height: 25px;
        width: 25px;
        border-radius: 25px;
        @media screen and (orientation: landscape) {
          height: 35px;
          width: 35px;
          border-radius: 35px;
        }
      }
    }
  }

  main {
    margin: 50px 0 100px 0;
    @media screen and (orientation: landscape) {
      display: grid;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}
