@import "./variables.scss";

.post-preview {
  width: 100%;
  height: fit-content;
  position: relative;
  img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: linear-gradient(180deg, #091320b3, #0d1528cc 100.73%);
    border-radius: 8px;
  }
  &__details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .linkDetails {
      display: flex;
      flex-direction: column;
      padding: 10px;
      justify-content: flex-end;
      height: 100%;
      a {
        display: flex;
        flex-direction: column;
        color: $white;
        text-decoration: none;
      }
      &__title {
        font-size: 1.1rem;
        font-family: "Goldplay-Semibold";
      }
      &__description {
        font-size: 0.8rem;
        max-height: 50px;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }
    }
  }
}
