@import "./styles/Normalize.scss";
@import "./styles/variables.scss";

@font-face {
  font-family: "Goldplay-Regular";
  src: url("./assets/fonts/Goldplay\ Regular.otf") format("opentype");
}

@font-face {
  font-family: "Goldplay-Bold";
  src: url("./assets/fonts/Goldplay\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "Goldplay-Medium";
  src: url("./assets/fonts/Goldplay\ Medium.otf") format("opentype");
}

@font-face {
  font-family: "Goldplay-Semibold";
  src: url("./assets/fonts/Goldplay\ SemiBold.otf") format("opentype");
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Goldplay-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  @include theme-aware("background", "bg");
  @media screen and (orientation: landscape) {
    font-size: 16px;
  }
}

p,
button,
li {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

#root {
  display: flex;
}
.page-container {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.route-container {
  padding: 0 15px 15px 15px;
  @media screen and (orientation: landscape) {
    width: 90vw;
    margin: auto;
    padding-bottom: 50px;
  }
}

.hide {
  display: none !important;
  * {
    display: none;
  }
}
